apiVersion: apps/v1
kind: Deployment
metadata:
  name: fixmycar-api
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api
          image: fixmycar-api:latest
          ports:
            - containerPort: 8080

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3